/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    font-variation-settings:"wdth" 100;    
}
/*Utilities*/
.container {
    padding: 0 20px;
    max-width: 1180px;
    margin: o auto;
}

/*Header*/

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    margin: 20px 0 40px 0;
    color: #e43276;
}

/*Main*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    margin: 15px;
    display: flex;
}

.image {
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.info {
    flex-grow: 1;
    background-color: #0f0e17;
    color: aliceblue;
    padding: 16px;
}

h3{
    font-weight: 600;
    text-transform: uppercase;
    font-size: large;
}

p {
    padding: 3px 0;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #2e87b5;
}

